**/.build*/*
bin/
_build/
*.o
*.xe
*.vcd
*.xi
*.i
*.a
*~
#*#
*.vcd
*.log
*.xe
doc/_build/*
doc/*/.doxygen/*
doc/*/.linked_dirs/*
doc/*/.sources/*
doc/*/.support/*
*/.settings/*
Doxyfile-e
.DS_Store
*.pyc
*.xmt
